Pyspark Handling Missing Values

    Dropping Columns
    Dropping Rows
    Various Parameter in Dropping functionalities
    Handling Missing values by Mean, Median and Mode - Imputer

In [17]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [39]:
df_pyspark =  spark.read.csv('Book2.csv',header=True,inferSchema=True)

In [38]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|  Vekash|  22|        10| 30000|
|   Krish|  31|         8| 24000|
|Sudhansh|  30|         4| 35000|
|   Sunny|  29|         3| 15000|
|    paul|  24|         1| 16000|
|  Harsha|  21|         2| 20000|
| Shubham|  23|         2| 28000|
|  Mahesh|NULL|      NULL| 24000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [6]:
### drop the columns

df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  22|        10| 30000|
|  31|         8| 24000|
|  30|         4| 35000|
|  29|         3| 15000|
|  24|         1| 16000|
|  21|         2| 20000|
|  23|         2| 28000|
|NULL|      NULL| 24000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [7]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Vekash| 22|        10| 30000|
|   Krish| 31|         8| 24000|
|Sudhansh| 30|         4| 35000|
|   Sunny| 29|         3| 15000|
|    paul| 24|         1| 16000|
|  Harsha| 21|         2| 20000|
| Shubham| 23|         2| 28000|
+--------+---+----------+------+

In [10]:
### any, all

df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Vekash| 22|        10| 30000|
|   Krish| 31|         8| 24000|
|Sudhansh| 30|         4| 35000|
|   Sunny| 29|         3| 15000|
|    paul| 24|         1| 16000|
|  Harsha| 21|         2| 20000|
| Shubham| 23|         2| 28000|
+--------+---+----------+------+

In [20]:
df_pyspark.na.drop(how="all").show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|  Vekash|  22|        10| 30000|
|   Krish|  31|         8| 24000|
|Sudhansh|  30|         4| 35000|
|   Sunny|  29|         3| 15000|
|    paul|  24|         1| 16000|
|  Harsha|  21|         2| 20000|
| Shubham|  23|         2| 28000|
|  Mahesh|NULL|      NULL| 24000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [ ]:
# threshold

df_pyspark.na.drop(how="any",thresh=1).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Vekash| 22|        10| 30000|
|   Krish| 31|         8| 24000|
|Sudhansh| 30|         4| 35000|
|   Sunny| 29|         3| 15000|
|    paul| 24|         1| 16000|
|  Harsha| 21|         2| 20000|
| Shubham| 23|         2| 28000|
|    NULL| 34|        10| 38000|
+--------+---+----------+------+

In [28]:
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Vekash| 22|        10| 30000|
|   Krish| 31|         8| 24000|
|Sudhansh| 30|         4| 35000|
|   Sunny| 29|         3| 15000|
|    paul| 24|         1| 16000|
|  Harsha| 21|         2| 20000|
| Shubham| 23|         2| 28000|
|    NULL| 34|        10| 38000|
+--------+---+----------+------+

In [41]:
## filling the Missing Value
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|        Vekash|  22|        10| 30000|
|         Krish|  31|         8| 24000|
|      Sudhansh|  30|         4| 35000|
|         Sunny|  29|         3| 15000|
|          paul|  24|         1| 16000|
|        Harsha|  21|         2| 20000|
|       Shubham|  23|         2| 28000|
|        Mahesh|NULL|      NULL| 24000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [42]:
# Replace NULL in string and numeric columns separately
df_pyspark.na.fill({"Name": "Missing Values", "age": 0, "Experience": 0, "Salary": 0}).show()

+--------------+---+----------+------+
|          Name|age|Experience|Salary|
+--------------+---+----------+------+
|        Vekash| 22|        10| 30000|
|         Krish| 31|         8| 24000|
|      Sudhansh| 30|         4| 35000|
|         Sunny| 29|         3| 15000|
|          paul| 24|         1| 16000|
|        Harsha| 21|         2| 20000|
|       Shubham| 23|         2| 28000|
|        Mahesh|  0|         0| 24000|
|Missing Values| 34|        10| 38000|
|Missing Values| 36|         0|     0|
+--------------+---+----------+------+

In [43]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|  Vekash|  22|        10| 30000|
|   Krish|  31|         8| 24000|
|Sudhansh|  30|         4| 35000|
|   Sunny|  29|         3| 15000|
|    paul|  24|         1| 16000|
|  Harsha|  21|         2| 20000|
| Shubham|  23|         2| 28000|
|  Mahesh|NULL|      NULL| 24000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [45]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_imputed".fo rmat(c) for c in ['age', 'Experience', 'Salary']]
).setStrategy("mean")

# imputer = Imputer(inputCols='',outputCols='').setStrategy()

In [46]:
# add imputation cols to df

imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|  Vekash|  22|        10| 30000|         22|                10|         30000|
|   Krish|  31|         8| 24000|         31|                 8|         24000|
|Sudhansh|  30|         4| 35000|         30|                 4|         35000|
|   Sunny|  29|         3| 15000|         29|                 3|         15000|
|    paul|  24|         1| 16000|         24|                 1|         16000|
|  Harsha|  21|         2| 20000|         21|                 2|         20000|
| Shubham|  23|         2| 28000|         23|                 2|         28000|
|  Mahesh|NULL|      NULL| 24000|         27|                 5|         24000|
|    NULL|  34|        10| 38000|         34|                10|         38000|
|    NULL|  36|      NULL|  NULL|         36|                 5|         25555|
+--------+----+----------+------+-----------+------------------+--------------+