In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\vekash s\appdata\local\programs\python\python313\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\vekash s\appdata\local\programs\python\python313\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vekash s\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\vekash s\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.5 MB 7.1 MB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 21.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 21.4 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----------------------- ---------------- 7.3/12.6 MB 57.8 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 48.9 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Vekash s\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [7]:
import pandas as pd
pd.read_csv('book1.csv')

       Name  Age
0  Vekash S   22
1     Krish   30
2     Sunny   29

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [10]:
spark

In [11]:
df_pyspark = spark.read.csv('Book1.csv')

In [13]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Vekash S| 22|
|   Krish| 30|
|   Sunny| 29|
+--------+---+

In [21]:
df_pyspark = spark.read.option('header','true').csv('Book1.csv')

In [22]:
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Vekash S| 22|
|   Krish| 30|
|   Sunny| 29|
+--------+---+

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.head(3)

[Row(Name='Vekash S', Age='22'),
 Row(Name='Krish', Age='30'),
 Row(Name='Sunny', Age='29')]

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)