Pyspark Dataframes

    filter Operation
    &,|,==
    ~

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df_pyspark = spark.read.csv('Book3.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|  Vekash| 22|        10| 30000|
|   Krish| 31|         8| 24000|
|Sudhansh| 30|         4| 35000|
|   Sunny| 29|         3| 15000|
|    paul| 24|         1| 16000|
|  Harsha| 21|         2| 20000|
| Shubham| 23|         2| 28000|
+--------+---+----------+------+

        Filter Operations

In [8]:
### Salary of people less than or equal to 20000

df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Sunny| 29|         3| 15000|
|  paul| 24|         1| 16000|
|Harsha| 21|         2| 20000|
+------+---+----------+------+

In [9]:

df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
| Sunny| 29|
|  paul| 24|
|Harsha| 21|
+------+---+

In [10]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Sunny| 29|         3| 15000|
|  paul| 24|         1| 16000|
|Harsha| 21|         2| 20000|
+------+---+----------+------+