In [1]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [22]:
# reading the dataset - there are multiple options

df_pyspark = spark.read.option('header','true').csv('Book1.csv',inferSchema=True)

In [23]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Vekash S| 22|        10|
|   Krish| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [24]:
###check the schema

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
df_pyspark = spark.read.csv('Book1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Vekash S| 22|        10|
|   Krish| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [27]:
type(df_pyspark)
###dataframes are data structures

pyspark.sql.dataframe.DataFrame

In [31]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [32]:
df_pyspark.head(3)

[Row(Name='Vekash S', Age=22, Experience=10),
 Row(Name='Krish', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [33]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Vekash S| 22|        10|
|   Krish| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [34]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [35]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|Vekash S|
|   Krish|
|   Sunny|
+--------+

In [36]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [38]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Vekash S|        10|
|   Krish|         8|
|   Sunny|         4|
+--------+----------+

In [41]:
df_pyspark['Name']

Column<'Name'>

In [42]:
df_pyspark.dtypes

###Most of the datatypes are similar to Pandas

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [45]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]